<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserInformationMapper" >
  <resultMap id="BaseResultMap" type="pojo.UserInformation" >
    <constructor >
      <idArg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="school_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="major" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="activity_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="corporation_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    username, sex, school_id, major, activity_id, corporation_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from User_Information
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from User_Information
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pojo.UserInformation" >
    insert into User_Information (username, sex, school_id,
      major, activity_id, corporation_id, 
      create_time, update_time)
    values (#{username,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{schoolId,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR}, #{corporationId,jdbcType=INTEGER}, 
     now(), now())
  </insert>
  <insert id="insertSelective" parameterType="pojo.UserInformation" >
    insert into User_Information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="corporationId != null" >
        corporation_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null" >
        #{corporationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.UserInformation" >
    update User_Information
    <set >
      <if test="sex != null" >
        Sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=VARCHAR},
      </if>
      <if test="corporationId != null" >
        corporation_id = #{corporationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.UserInformation" >
    update User_Information
    set sex = #{sex,jdbcType=INTEGER},
      school_id = #{schoolId,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=VARCHAR},
      corporation_id = #{corporationId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>